<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/head :: head(title='Series')}"></head>
<body>
<div class="container">
    <div class="columns">
        <div class="column is-offset-one-quarter is-half">
            <h1 class=" title is-1">Series</h1>
            <div th:replace="~{/fragments/menu :: menu(active='Posts')}"></div>
            <a th:href="@{/allposts}" class="button is-primary">New Blogpost</a>
            <table class="table">
                <tr>
                    <th>Titel</th>
                    <th>Datum</th>
                    <th>Text</th>
                </tr>
                <tr th:each="post : ${postList}">
                    <td>
                        <a th:text="${post.titel}" th:href="@{/post/{id}(id=${series.id})}"/>
                    </td>
                    <td th:text="${post.date}"/>
                    <td>
                        <a th:href="@{/series/series/{id}(id=${series.id})}" class="button is-info">
                            <span class="icon">
                                <span class="mdi mdi-image-edit-outline"></span>
                            </span>
                        </a>
                        <a th:href="@{/post/delete(postId=${post.id})}" class="button is-danger">
                            <span class="icon">
                                <span class="mdi mdi-card-remove-outline"></span>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>