<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/head :: head(title='Series')}">
    <title>New York Foodies</title>
</head>
<body>
<header>New York Foodies</header>
<div class="container">
    <div class="columns">
        <div class="column is-offset-one-quarter is-half">
            <h1 class=" title is-1">Blog Posts</h1>
            <div th:replace="~{/fragments/menu :: menu(active='Series')}"></div>
<!--            TODO: Login Status, Login, Logout, Register-->
            <a th:href="@{/series/series}" class="button is-primary">New Blog Post</a>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Premier</th>
                    <th>TV-Channel</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="series : ${seriesList}">
                    <td>
                        <a th:text="${series.name}" th:href="@{/series/details/{id}(id=${series.id})}"/>
                    </td>
                    <td th:text="${series.premiere}"/>
                    <td th:text="${series.tvChannel}"/>
                    <td>
                        <a th:href="@{/series/series/{id}(id=${series.id})}" class="button is-info">
                            <span class="icon">
                                <span class="mdi mdi-image-edit-outline"></span>
                            </span>
                        </a>
                        <a th:href="@{/series/delete(seriesId=${series.id})}" class="button is-danger">
                            <span class="icon">
                                <span class="mdi mdi-card-remove-outline"></span>
                            </span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>