<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/head :: head(title='Series')}">
    <title>New York Foodies</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required th:text="*{username}">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required th:text="*{password}">
    <br>
    <button type="submit">Login</button>
</form>
</body>
</html>
