<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lev-Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link th:href="@{/css/post.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{..}">
            <img class="pen" th:src="@{/images/pen.png}" alt="pen"/>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{..}">
                HOME
            </a>
            <a class="navbar-item" th:href="@{../about}">
                ABOUT US
            </a>
        </div>
    </div>


    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button b-nav is-primary"
                   th:href="@{/signup}">
                    SIGN UP
                </a>
                <a class="button b-nav is-light"
                   th:href="@{/login}">
                    LOG IN
                </a>
            </div>
        </div>
    </div>
</nav>
<br>


<p class="container is-widescreen has-text-centered">
<section class="section">
    <div class="columns" th:object="${thisPost}">
        <div class="column is-full">
            <div class="card blog  is-one-fifth-desktop">
                <div class="card-image">
                    <figure class="image is-4by3">
<!--                        <img class="image" th:src="@{/images/Gartenparty.jpg}" alt="Placeholder image">-->
                        <img th:src="*{image}" alt="Image to illustrate blog post">

                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h2 th:text="*{title}"></h2>
                        <br>
                        <p class="text" th:text="*{text}"></p>
                        <br>
                        <p>By: <span th:text="*{user}"></span></p>
                        <time class="datum" th:text="*{date}"></time>
                    </div>
                </div>

                <div class="card-content" th:each="comment : ${commentList}">
                    <table class="table">
                        <tr>
                            <td th:text="${comment.date}"/>
                            <td th:text="${comment.user}"/>
                        </tr>
                        <tr>
                            <td th:text="${comment.text}"/>
                        </tr>
                    </table>
                </div>

                <form action="#" th:action="@{.}" th:object="${newComment}" method="post">
                <input th:field="*{id}" type="hidden">
                <input th:field="*{user}" type="hidden">
                <input th:field="*{date}" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" type="hidden">
                <textarea class="textarea" maxlength="500" placeholder="Share your thoughts!"
                          th:field="*{text}"></textarea>
                <div class="column is-full has-text-centered is-t">
                    <button class="button b is-primary" type="submit">SEND</button>
                </div>
                </form>


            </div>
            <div class="columns">
                <!--                    <div class="column is-full has-text-centered">-->
                <!--                        <div th:replace="~{/fragments/menu :: menu(active='Posts')}"></div>-->
                <!--                        <a th:href="@{/newpost}" class="button b is-primary">DELETE POST</a>-->
                <!--                    </div>-->
            </div>
        </div>
    </div>
</section>
<footer class="footer" id="footer">
    <div class="has-text-centered has-text-black">
        <span class="icon"><a href="mailto:brights@brights.com"><i class="fas fa-envelope"></i></a> </span>
        <span class="icon"><a href="https://www.instagram.com/brights_learning/"><i class="fa-brands fa-instagram"></i></a></span>
        <span class="icon"><a href="https://www.linkedin.com/school/brights-learning/"><i
                class="fa-brands fa-linkedin"></i></a></span>
        <br>
        <span>© 2023 LEV-Blog</span>
    </div>
</footer>
</body>
</html>