<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lev-Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link th:href="@{/css/signup.css}" rel="stylesheet" />
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" th:href="@{../blog}">
            <img class="pen" th:src="@{/images/pen.png}" alt="pen">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{..}">
                HOME
            </a>
        </div>
    </div>


    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button b-nav is-primary"
                   th:href="@{/signup}">
                    SIGN UP
                </a>
                <a class="button b-nav is-light" th:href="@{/login}" th:if="${username} == null">
                    LOG IN  </a>

                <a class="button b-nav is-light" id="dropButton" onclick="dropDown()" th:if="${username} != null">
                    <span th:text="'LOGGED IN AS ' + ${#strings.toUpperCase(username)}"></span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown" id="dropContent">
                    <form  name="logoutForm" th:action="@{/logout}" method="post">
                        <input  type="submit" value="LOGOUT"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
<br>
<div class="columns">
    <div class="column is-full has-text-centered">
        <h1>SIGN UP</h1>
    </div>
</div>
<div class="columns" >
    <div class="column form is-full has-text-centered">
        <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
            <label for="username">USERNAME: </label>
            <input type="text" id="username" name="username" required th:field="*{username}">
            <br>
            <br>
            <label for="password">PASSWORD:</label>
            <input type="password" id="password" name="password" required th:field="*{password}">
            <br>
            <br>
<!--            <a class="button submitbutton b-nav is-light" type="submit">-->
            <button class="button b is-light" type="submit">
                SIGN UP
            </button>
        </form>
    </div>
</div>
<br><br><br>
<footer class="footer" id="footer">
    <div class="has-text-centered has-text-black">
        <span class="icon"><a href="mailto:brights@brights.com"><i class="fas fa-envelope"></i></a> </span>
        <span class="icon"><a href="https://www.instagram.com/brights_learning/"><i class="fa-brands fa-instagram"></i></a></span>
        <span class="icon"><a href="https://www.linkedin.com/school/brights-learning/"><i class="fa-brands fa-linkedin"></i></a></span>
        <br>
        <span>© 2023 LEV-Blog</span>
    </div>
</footer>
</body>
</html>
